.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}.scrollbar-custom::-webkit-scrollbar {
  height: 5px; 
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: var(--color-surface-container-low);
  border-radius: 999px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 999px;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary-dark);
}